:root{
  
  --magenta: #8b008b;         --green: #05b694;             --aqua: #00bfff;
  --blue: #4c4cff;            --lightblue: #45a1ff;
  
  --general-color: var(--lwt-toolbarbutton-icon-fill-attention, var(--magenta));
   
  /*-----------------------------------Gradientes------------------------------------*/
  --gradient: linear-gradient(to bottom right, var(--general-color),var(--general-color)) !important;                                     
  --panel-separator-zap-gradient1: linear-gradient(to left, var(--general-color) , #ff000000) !important;
  --panel-separator-zap-gradient2: linear-gradient(to right, color-mix(in srgb, var(--general-color) 80%, var(--toolbar-bgcolor, Field)) 82% , transparent 96%) !important;
  --panel-separator-zap-gradient3: linear-gradient(to left, var(--general-color) 90.7%, transparent 90.7%) !important;
  
  --button-bgcolor: color-mix(in srgb, var(--general-color) 10%, transparent) !important;             /*Color de buttons*/
  --button-hover-bgcolor: color-mix(in srgb, var(--general-color) 55%, transparent) !important;       /*Color de fondo de menuitems :hover*/
  --button-active-bgcolor: color-mix(in srgb, var(--general-color) 75%, transparent) !important;      /*color clic en menuitems*/
}
